[submodule "llm-compressor"]
	path = llm-compressor
	url = https://github.com/max410011/llm-compressor.git
[submodule "compressed-tensors"]
	path = compressed-tensors
	url = git@github.com:max410011/compressed-tensors.git
	branch = dev/mlin
